.App {
  font-family: sans-serif;
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
}
.page-heading {
  flex: 1;
  text-align: center;
}

.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 300px;
}

.back-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px;
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}
